:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --gray2:#e0e0e0;
  --primary:#7f187f;
  --primary-yellow:#ffc107;
}

body{
    font-family:  'Open Sans';
}
a:hover {
  color: var(--primary) !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}












/* -------------------------------------------------------- */


/* The loading Class */
.loading {
  position: relative;
  background-color: #e2e2e2;
}

/* The moving element */
.loading::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: -webkit-gradient(linear, left top,
          right top, from(transparent),
          color-stop(rgba(255, 255, 255, 0.2)),
          to(transparent));

  background: linear-gradient(90deg, transparent,
          rgba(255, 255, 255, 0.2), transparent);

  /* Adding animation */
  animation: loading 0.8s infinite;
}

/* Loading Animation */
@keyframes loading {
  100% {
      transform: translateX(100%);
  }
}




